@import "../../root.css";
.tabs {
  height: 50px;
  background-color: #fff;
  overflow: hidden;
  user-select: none;
}
.tabs__button {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border: 1px solid #dfe5ec;
}

.radio-btns__input {
  display: none;
}
.radio-btns__input:checked ~ .radio-btns__label {
  background-color: var(--success-color);
  color: #fff;
}
