.tikets-display__ticket {
  margin: 10px 0;
}
.ticket {
  padding: 20px;
}
.ticket__price-company {
  margin-bottom: 20px;
}
.price {
  font-size: 24px;
  line-height: 24px;
}
.route-line {
  height: 39px;
  margin-bottom: 10px;
}
.route-line__item-upper {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.route-line__item-lower {
  font-size: 14px;
  line-height: 21px;
}
