.filter {
  width: 230px;
  padding: 10px 0;
}
.filter__title {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-align: left;
  padding: 0 15px;
}
.checkbox {
  user-select: none;
}
.checkbox:hover {
  background-color: #f1fcff;
}
.checkbox__input {
  display: none;
}
.checkbox__label {
  padding: 0 15px;
  height: 40px;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}
.checkbox__form {
  width: 20px;
  height: 20px;
  border: 1px solid #9abbce;
  border-radius: 2px;
  margin-right: 9px;
}
.checkbox__label .checkbox__shape {
  display: none;
}
.checkbox__input:checked ~ .checkbox__label .checkbox__shape {
  display: block;
}
